# agent.py
keras==2.6.0
numpy==1.19.5

# environment.py
python-chess==1.999

# learn.py
RLC==0.0.0

# notebook.ipynb
numpy==1.19.5
pandas==1.1.5
google-colab==1.0.0

# run.py
numpy==1.19.5
pandas==1.1.5
matplotlib==3.2.2
python-chess==1.999
